/.vscode
/1_python_basics
/2_Python_Advanced
/3_project
/4_global_house_purchase_project
/5_BMW_sales
/7_Flight_Data_Analysis
/BMW sales data (2010-2024) (1).csv
/data_jobs.csv
/flights_sample_3m.csv
/test.py
/test_1.ipynb